body {
  min-height: 100vh;
  background: #8b0100;
  margin: 0
}

/*Register Fonts*/
@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-ExtraBold.ttf") format("truetype"),
    url("../fonts/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  src: url("../fonts/EBGaramond-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Souvenir";
  src: url("../fonts/Souvenir-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Souvenir";
  src: url("../fonts/Souvenir-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

/*Site Header*/
.row.fixed-header {
  border-bottom: 1px solid white;
  position: fixed;
  width: 100%;
  top: 0;
  background: #d09c19ed;
  z-index: 5;
  margin: 0;
}

.fixed-header .title-holder a {
  text-decoration: none !important;
}

.site-title {
  font-size: 50px;
  line-height: 40px;
  margin: 20px 0 20px -5px;
  width: fit-content;
  color: #faf6dc;
  font-style: italic;
  padding: 0 15px;
  background: #621906;
  transform: scale(1, 2);
  font-family: "EB Garamond", serif;
  font-weight: 900;
  border: 1px solid white;
  border-radius: 40px;
  letter-spacing: -3px;
  transition: font-size 0.2s ease-in-out;
}

ul {
  font-family: "Souvenir";
  font-size: .8rem;
}

#hamburger {
  opacity: 0;
}

ul.nav-list {
  position: absolute;
}

.nav-list li {
  display: inline-block;
  background: #ffffff80;
  box-shadow: 0px 0px 6px 5px #ffffff80;
  margin: 0 18px;
  padding: 1px 7px;
}

/*Nav Scrolled effect*/
.scrolled #hamburger {
  display: block;
  opacity: 1;
  position: absolute;
  top: -15px;
  right: 100px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#hamburger .line{
  width: 30px;
  height: 3px;
  background-color: white;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.open #hamburger .line:nth-child(2){
  opacity: 0;
}

.open #hamburger .line:nth-child(1){
  -webkit-transform: translateY(9px) rotate(45deg);
  -ms-transform: translateY(9px) rotate(45deg);
  -o-transform: translateY(9px) rotate(45deg);
  transform: translateY(9px) rotate(45deg);
}

.open #hamburger .line:nth-child(3){
  -webkit-transform: translateY(-9px) rotate(-45deg);
  -ms-transform: translateY(-9px) rotate(-45deg);
  -o-transform: translateY(-9px) rotate(-45deg);
  transform: translateY(-9px) rotate(-45deg);
}

.scrolled .nav-list {
  opacity: 0;
  top: -8px;
  transition: all 0.3s ease-in-out;
}

.scrolled .open .nav-list {
  display: block;
  opacity: 1;
  top: 24px;
  background: #d09c19ed;
  padding: 5px;
  border: 1px solid white;
  border-top: 0;
}
.scrolled .open .nav-item {
  margin: 15px;
}

.fixed-header ul.nav-list {
  right: 100px;
  top: 12px;
  transition: 0.2s;
}

.scrolled .nav-item {
  display: block;
}

a.nav-item-link {
  color: black;
}

.mainmenu {
  margin: 20px 0;
  position: relative;
}

/*Language Switch*/
nav.languages {
  position: absolute;
  right: 15px;
  top: 4px;
  text-align: right;
  width: fit-content;
  vertical-align: top;
  transition: .2s;
}

.scrolled nav.languages {
  top: -14px;
}

nav.languages ul {
  list-style: none;
}

nav.languages li a {
  color: black;
  opacity: 0.7;
  cursor: pointer;
}

nav.languages li.active a {
  opacity: 1;
  background: black;
  padding: 3px 4px 1px 4px;
  color: wheat;
  border-radius: 10px;
}

/*Spotlight Cursor*/
#spotlight {
  width: 150px;
  height: 150px;
  background: #ff0000d6;
  border-radius: 50%;
  position: absolute;
  margin-top: 0;
  mix-blend-mode: luminosity;
  opacity: .5;
  box-shadow: 0px 0px 10px 12px #ff0000d6;
  z-index: 1;
}

/*Homepage Screen*/
@media (min-width: 576px) {
  .mobile.lg-bow {
    display: none;
  }

  .col-sm-9.screen {
    border-right: 1px solid white;
    min-height: 100vh;
  }

  img.lg-bow {
    width: 80%;
    top: 100px;
  }

  .home.main {
    margin: 480px 20px 0 20px;
  }

  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
  }
}

@media (max-width: 576px) {
  #spotlight {
    display: none;
  }

  .desk.lg-bow {
    display: none;
  }

  img.lg-bow {
    width: 99%;
    top: 120px;
  }

  .home.main {
    margin: calc(80px + 65vw) 20px 0 20px;
  }

  .mainmenu {
    display: none;
  }

  /*Homepage Grid*/
  .grid {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 20px;
  }

  img.lg-bow {
    top: 130px;
  }
}


/*Homepage Grid*/
.grid {
  display: grid;
  padding-left: 0;
  position: relative;
  z-index: 4;
}

.artist-grid .written {
  margin: 7px;
}

.artist-grid a {
  text-decoration: none;
}

a p.grid-name {
  color: #c6b39d;
}

p.grid-title {
  font-size: 1.1rem;
  margin: 7px 0 5px 0;
  color: white;
}

li.column {
  list-style: none;
  background: #1c1400ed;
  border-radius: 19px;
  overflow: hidden;
}


.home.main {
  z-index: 3;
}

.vid-holder {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  background: #ff000057;
  margin: 10px 15px;
  border: 1px solid white;
}

/*Homepage bow made of red ribbon*/

img.lg-bow.scrolled {
  opacity: 0;
  top: 70px;
}


img.lg-bow {
  position: fixed;
  right: 0;
  left: 0;
  filter: hue-rotate(47deg) contrast(4) brightness(.9);
  margin: auto;
  z-index: -1;
  opacity: 1;
  transition: .9s;
}

/*Background Image*/
.ribbon-title {
  padding: 20px 0;
  width: 100%;
  filter: hue-rotate(45deg) contrast(3) brightness(0.8);
}

/*Artist List*/
.home ul.artist-list {
  list-style: none;
  overflow: scroll;
  height: 100vh;
}

ul.artist-list a {
  color: wheat;
}

.artist-list li {
  margin: 13px 0;
}



.col-sm-3.artists {
  margin-top: 20px;
}

.thumb-holder {
  width: -webkit-fill-available;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.artist-list p.list-name {
  vertical-align: top;
  display: inline-block;
  margin: 0 4px;
}

img.thumbnail {
  width: inherit;
}

span.timestamp {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2px 4px;
  padding: 4px 7px 1px 7px;
  background: black;
  border-radius: 10px;
  color: white;
}

/*Ticker*/
#ticker-wrapper {
  width: 100%;
  background: #d09c19ed;
  color: #9c0005;
  font-family: 'Souvenir';
  padding: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}

#ticker-text {
  animation: ticker-animation 15s linear infinite;
  animation-play-state: running;
  display: flex;
  gap: 1em;

}

.ticker-paused #ticker-text {
  animation-play-state: paused;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*Individual page*/
h2.artist-name {
  margin: 20px 15px 5px 15px;
  color: white;
  font-family: 'Souvenir';
  font-weight: 300;
  font-size: 1.5rem;
}

h3.score-title,
.score {
  color: wheat;
  font-family: 'Souvenir';
}

/*No motion for users with motion paused*/
@media (prefers-reduced-motion: reduce) {
  #ticker-text {
    animation-play-state: paused !important;
  }

  #spotlight {
    display: none;
  }
}
